html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header {
    display:flex;
    justify-content:center;
}
.navbar {
    display:flex;
    justify-content:space-around;
    
    
}
.footer {
    display:flex;
    justify-content:flex-end;
}
.aboutMain {
    display:flex;
    justify-content:flex-end;
}

.parent {
     display:flex;
     justify-content:center;
     background-color: lightblue;
 }

 #food1 {
     width: 100%;
     height:auto;
 }
 .thumbnail1 {
     width:500px;
     padding-left:200px;
     padding-right: 200px;
     margin:20px;
     border:5px solid black;
     
 }
 #food2 {
     width:100%;
     height:auto;
 }
 #food3 {
     width:100%;
     height:auto;
 }
 .thumbnail2 {
     width:250px;
     border: 15px solid orange;
     padding:10px;
     margin:20px;
 }
 .thumbnail3 {
     width:250px;
     border:15px solid orange;
     padding:10px;
     margin:20px;
 }
 .thumbnail4 {
     width:25%;
 }
 .secondrow {
     display: flex;
     justify-content:space-between;
 }